<section>

    <article>
  
      <h3>Two-way data binding</h3>
  
      <div>
  
        <input type="text"
          [value]="nome"
          (input)="nome = $event.target.value"
        />
  
        <input type="text"
          [ngModel]="nome"
          (ngModelChange)="nome = $event"
        />
  
        <input type="text"
          [(ngModel)]="nome"
        />
  
        <input type="text"
          bindon-ngModel="nome"
        />
  
        <p>Você digitou: {{ nome }} </p>
  
      </div>
  
      <div>
        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="text" [(ngModel)]="pessoa.idade">
      </div>
  
      <p>Nome: {{ pessoa.nome }}. Idade: {{ pessoa.idade }}</p>
  
    </article>
  
  </section>